<h1>Hi <%= @user.email %>!</h1>

<p>
  Welcome to the Greatest Yob Community!
</p><br>

<p>Check the <%= link_to "site", root_path %>, you'll definitly find your cinderella's fitting bike.</p>

<p>Don't forget to <%= link_to "link your bike", new_bike_path %> and let the others use your magic.</p><br>

<p>Have a good ride fella,</p><br>
<p>The team,</p><br>
<p>BikeR</p><br>


