.wrapper-show {
  background-color: #F4F4F4;
  padding: 100px 0;
  padding:10px;
  padding-bottom: 10px;
}


.container-show {
  margin: 20px 0;
  margin-right: 0;
  background: #F4F4F4;
  padding: 15px;
  border-radius: 3px;
}
 .banner-bike {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
  background-attachment: fixed;
}
ul {
  list-style-type: none;
}

li, p {
  color:#797373;
}

.container-show-origin {
  padding: 40px;
}


