.wrapper-show {
  background-color: #F4F4F4;
  padding: 100px 0;
  margin-bottom: 75px;
}

.container-show {
  margin: 20px 0;
  margin-right: 0;
  background: #F4F4F4;
  padding: 15px;
  border-radius: 3px;
}

li > p {
  color:red;
}
