.outer {
    border:solid 1px #000;
    height:90vh;
    overflow:hidden;

}

.rightcol {
  /* position: fixed;
   top: 0%;
   left: 0%; */
   // border:solid 4px green;
   height:100vh;
   // overflow:hidden;
}

.leftcol {
   /* border:solid 1px red;
   position: relative;
   top: 0%;
   left: 50%;  */
   // border:solid 4px red;
   overflow-y: auto;
   height: 100vh;
}

.nomargin {
margin-left: 0;
margin-right: 0;

}

.nopadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

// .nopaddingleft {
// padding-left: 0 !important;
// }


// .inputs {
//   margin-top: 20px;
// }
