<div id="footer">
  <ul class="list-inline">
    <li><%= link_to "#" do %><i class="fa fa-youtube fa-lg"></i><% end %></li>
    <li><%= link_to "#" do %><i class="fa fa-instagram fa-lg"></i><% end %></li>
    <li><%= link_to "#" do %><i class="fa fa-facebook fa-lg"></i><% end %></li>
    <li><%= link_to "#" do %><i class="fa fa-twitter fa-lg"></i><% end %></li>
  </ul>
</div>
