<div class="fluid-container">
  <div class="row">
    <div class="col-xs-12 outer">
      <div class="row">
        <div class="col-xs-12 col-md-7 leftcol nopaddingright">


          <div class="col-md-4 col-sm-6 row-space-1-sm">
            <label for="map-search-checkin" class="screen-reader-only">
              Arrivée
            </label>
            <input name="checkin" id="map-search-checkin" autocomplete="off" class="checkin tour-target ui-datepicker-target" placeholder="Arrivée" type="text">
          </div>

          <div class="col-md-4 col-sm-6 row-space-1-sm">
            <label for="map-search-checkout" class="screen-reader-only">
              Départ
            </label>
            <input name="checkout" id="map-search-checkout" autocomplete="off" class="checkout tour-target ui-datepicker-target" placeholder="Départ" type="text">
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="select select-block">
              <label for="guest-select" class="screen-reader-only">
                Nombre de voyageurs
              </label>
              <select name="guests" class="guest-select" id="guest-select" data-prefill="2">
                <option value="1">1 voyageur</option>
<option value="2">2 voyageurs</option>
<option value="3">3 voyageurs</option>
<option value="4">4 voyageurs</option>
<option value="5">5 voyageurs</option>
<option value="6">6 voyageurs</option>
<option value="7">7 voyageurs</option>
<option value="8">8 voyageurs</option>
<option value="9">9 voyageurs</option>
<option value="10">10 voyageurs</option>
<option value="11">11 voyageurs</option>
<option value="12">12 voyageurs</option>
<option value="13">13 voyageurs</option>
<option value="14">14 voyageurs</option>
<option value="15">15 voyageurs</option>
<option value="16">16+ voyageurs</option>
              </select>
            </div>
          </div>

    <div class="row">
      <div class="col-lg-2 col-md-12 text-center-sm text-center-md filter-label">
        <label>
          Type de logement
          <i class="icon icon-question hide-sm hide-md" id="room-type-tooltip"></i>
        </label>


      </div>

      <div class="col-lg-9">
        <div class="row row-condensed" id="room-options">

            <div class="col-middle-alt col-sm-4">
              <label class="checkbox facet-checkbox facet-checkbox--room-type panel panel-dark">
                  <div class="facet-checkbox__icon-col">
                    <i class="icon icon-entire-place h5 needsclick"></i>
                  </div>
                  <div class="facet-checkbox__label-col">
                    <span>Logement entier</span>
                  </div>
                  <div class="facet-checkbox__input-col">
                    <input name="room-type" value="Entire home/apt" type="checkbox">
                  </div>
              </label>
            </div>
            <div class="col-middle-alt col-sm-4">
              <label class="checkbox facet-checkbox facet-checkbox--room-type panel panel-dark">
                  <div class="facet-checkbox__icon-col">
                    <i class="icon icon-private-room h5 needsclick"></i>
                  </div>
                  <div class="facet-checkbox__label-col">
                    <span>Chambre privée</span>
                  </div>
                  <div class="facet-checkbox__input-col">
                    <input name="room-type" value="Private room" type="checkbox">
                  </div>
              </label>
            </div>
            <div class="col-middle-alt col-sm-4">
              <label class="checkbox facet-checkbox facet-checkbox--room-type panel panel-dark">
                  <div class="facet-checkbox__icon-col">
                    <i class="icon icon-shared-room h5 needsclick"></i>
                  </div>
                  <div class="facet-checkbox__label-col">
                    <span>Chambre partagée</span>
                  </div>
                  <div class="facet-checkbox__input-col">
                    <input name="room-type" value="Shared room" type="checkbox">
                  </div>
              </label>
            </div>

        </div>
      </div>
    </div>


          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br> This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br> This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br> This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br> This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br> This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
          This content Scrolls<br>This content Scrolls<br>
        </div>
        <div class="col-md-5 rightcol nopaddingleft">
          <div id="map" style="width: 100%; height: 90vh;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>



        </div>
      </div>
    </div>
  </div>
</div>
