// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bike-list, .booking-list {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px $gray;
  a {
    text-decoration: none;
  }
}

.container-profile {
  padding: 20px;
}
